:root {
    --theme-bg-color: #18181b;
    --theme-card-color: #27272a;
    --theme-font-color: #a1a1aa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--theme-bg-color);
    color: var(--theme-font-color);
}

.flex-container {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
}

.book-details {
    padding: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

.container {
    border: 1px solid;
    height: 100vh;
}

footer{
    border: 1px solid;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.grid-container {
    padding: 1rem;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.book-card {
    padding: 1rem;
    background-color: var(--theme-card-color);
}

.book-title,
.title-heading {
    font-family: 'Rouge Script';
    text-align: center;
}